pkgbase = fancy-mumble
	pkgdesc = Tauri desktop client for Mumble, with rich text chat, screen sharing and E2EE private chat
	pkgver = 0.3.0
	pkgrel = 1
	url = https://github.com/Fancy-Mumble/FancyMumble
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = cargo
	makedepends = cmake
	makedepends = libdrm
	makedepends = libva
	makedepends = mesa
	makedepends = npm
	makedepends = pipewire
	makedepends = pkgconf
	makedepends = protobuf
	depends = alsa-lib
	depends = cairo
	depends = gcc-libs
	depends = gdk-pixbuf2
	depends = glib2
	depends = glibc
	depends = gtk3
	depends = hicolor-icon-theme
	depends = libayatana-appindicator
	depends = librsvg
	depends = libsoup3
	depends = webkit2gtk-4.1
	optdepends = fancy-mumble-signal-bridge: end-to-end encrypted private chat (AGPL-3.0)
	optdepends = pipewire: screen and window capture
	optdepends = xdg-desktop-portal: screen-capture source picker on Wayland
	optdepends = libva: hardware video encode for screen sharing
	source = fancy-mumble-0.3.0.tar.gz::https://github.com/Fancy-Mumble/FancyMumble/archive/refs/tags/v0.3.0.tar.gz
	source = fancy-mumble.desktop
	sha256sums = a9440f48b7832408590603f56f2fdb02817075cefdd129e06c065e2e8ceb0163
	sha256sums = 3b4b18e80ec4fa74164c3f77db4da36792ddd06907d160997d250a85b284e3e2

pkgname = fancy-mumble
