.root {
    margin: 0;
    padding: 22px 14px;
    list-style: none;
    border-right: 1px solid rgba(255, 255, 255, .07)
}

.root li, .root button {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #687483;
    text-align: left
}

.root li {
    padding: 10px;
    border-radius: 11px
}

.root button {
    padding: 0;
    border: 0;
    background: none
}

.root i {
    flex: 0 0 auto;
    width: 27px;
    height: 27px;
    display: grid;
    place-items: center;
    border: 1px solid rgba(255, 255, 255, .1);
    border-radius: 9px;
    font-size: 10px;
    font-style: normal
}

.root svg {
    width: 13px
}

.root span {
    min-width: 0;
    display: flex;
    flex-direction: column;
    gap: 2px
}

.root strong {
    font-size: 11px
}

.root small {
    font-size: 9px
}

.active {
    background: rgba(255, 255, 255, .055) !important;
    color: #edf1f7 !important
}

.active i {
    border-color: rgba(101, 184, 237, .4);
    background: rgba(101, 184, 237, .12);
    color: #77c3f0
}

.complete {
    color: #91a0b0 !important
}

.complete i {
    background: rgba(112, 209, 164, .12);
    color: #70d1a4
}

@media(max-width:720px) {
    .root {
        display: flex;
        padding: 10px;
        border-right: 0;
        border-bottom: 1px solid rgba(255, 255, 255, .07)
    }

    .root li {
        flex: 1;
        justify-content: center
    }

    .root span {
        display: none
    }
}